pillow==6.2.1
numpy
Cython
h5py
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio==2.6.1

# Export --------------------------------------
# onnx
# onnx-simplified
# openvino-dev
# openvino2tensorflow
# tensorflow
# tensorflow_datasets
